.directory
.DS_Store
Thumbs.db
.DS_Store
!.gitkeep

# Vagrant
/.vagrant/
∕provisioning/includes/
/provisioning/????-??-??.sql
/provisioning/*.crt
**/ubuntu-*-cloudimg-console.log

# NPM
/node_modules/
npm-debug.log

/log/
/storage
/.env
/vendor/
/www/assets/images/
/www/theme/js/atelier6.dev.js.map
/www/theme/js/atelier6.dev.js
/www/theme/css/atelier6.dev.css.map
/www/theme/css/atelier6.dev.css
/www/theme/css/atelier6.prebuild.css.map
/www/theme/css/atelier6.prebuild.css
/www/imager/
www/assets/
/vendor/
/www/.htaccess
www/cpresources/
/atelier6.local.key
/atelier6.local.crt
www/cache/
www/cache/blitz/*
/translations/en
/translations/de-CH
/www/theme/js/atelier6.min.js.gz
/www/theme/js/atelier6.min.js
/www/theme/css/atelier6.min.css
/www/theme/css/atelier6.min.css.map
/translations/en
