<div class="adressNaviButtons btnGroup btnGroupHorizontal">
    <a class="btn btnSmall btnNeutral" href="{{ url('purchase/cart') }}">{{ "Warenkorb" | t }}</a>
    <a class="btn btnSmall btnNeutral" href="{{ url('shop') }}">{{ "Shop" | t }}</a>
</div>
