<div class="siteNavi Sticky">
	{% include '_molecules/microNews' %}
	<div class="triggerWrapper">
		<div class="naviGrid">
			{% include '_atoms/headNavLogo' %}
			<ul class="navList navPosition">
				{% include '_atoms/navList' %}
			</ul>
			<ul class="lang">
				{% include '_molecules/langSwitcher' %}
			</ul>
		</div>
		{% include '_atoms/splitLink' %}
	</div>
</div>

<div class="siteHead">
	<div class="layoutHolder">
		<div class="siteHeadGrid">{% include '_atoms/headBranding' %}</div>
	</div>
</div>
