<form 
    class="js-cm-form"
    id="subForm"
    action="https://www.createsend.com/t/subscribeerror?description="
    method="post"
    data-id="2BE4EF332AA2E32596E38B640E9056197666D2BA2D9846DA0C8C171A0820678F6E92B99BCFAFF22CD9737F1A06A3AC24C9D320A284F0A1FC0C98DD71893DD05C"
    onsubmit="fathom.trackGoal('CJG3R3HU', 0);">
    <label>{{ 'Benachrichtigung bei neuen Plakaten' | t }}:</label>
    <input
        autocomplete="Email"
        aria-label="{{'E-Mail'|t}}"
        class="js-cm-email-input"
        id="fieldEmail"
        maxlength="200"
        name="cm-gtrujd-gtrujd"
        placeholder="E-Mail-Adresse"
        required="" type="email">
    <button type="submit" class="btn">{{'Anmelden'|t}}</button>
</form>
<script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
