{% import '_incl/docMacros' as macro %}

<div class="variantTaxonomy">
    <h1 class="productTitle">
        {% if product.productType %}
            <span class="productCategory">{{ macro.category(product.productType) }}</span>
        {% endif %}
        {{ product.title }}
    </h1>
    <div class="taxonomyTabs tabset">
        {% include "_atoms/shopTaxonomyTab" %}
        {% include "_atoms/shopCheckoutBtn" %}
    </div>
</div>
