{% extends "_layout" %}
{% import '_incl/docMacros' as macro %}

{% block content %}
	{# all content #}
	{{ craft.blitz.getTemplate ("_atoms/shopCartTab") }}
	<main class="layoutHolder">
		<aside class="mainGrid">
			{% include "_molecules/pageHead" %}
		</aside>

		{% set retiredProducts = craft.products.hallOfFame(1).all() %}
        <div class="shopTxt">{{ macro.richText(entry.shopListingText)}}</div>
		<article class="mainGrid">
			{% for item in retiredProducts %}
				{% include "_molecules/shopThumb" %}
			{% endfor %}
			<div class="shopText{% if entry.enableColumn == 1 %} enableColumn{% endif %}">
				{% include "_molecules/productText" %}
			</div>
		</article>
	</main>
{% endblock %}
