.homepage {
    .indexCalltoAction {
        text-align: center;
    }
    .categoryLinks {
        justify-content: flex-start;
    }
    .indexTitle {
        @extend %fontXXL;
        font-weight: 600;
    }
}