.newsletter {
  .basicText {
    grid-column: 1/-1;
    @include mdUp {
      grid-column: span 4;
    }
  }
  .listingThumb {
    @extend %hiddenMdDown;
    @include smUp {
      grid-column: span 3;
    }
  }
  .formWrapp {
    grid-column: 1/-1;
    @include mdUp {
      grid-column: span 6;
      grid-row: span 2;
    }
  }
  form {
    @extend %panel;
    h3 {
        color: $txtColor;
    }
    label {
      display: block;
    }
    input {
      width: 100%;
      padding: 7px 10px 3px 9px;
      border-radius: 4px;
      border: solid 1px $subtleColor;
      background-color: $txtInvert;
      @extend %fontS;
      margin-bottom: $gridGap;
    }
    .btn {
        margin-top: $gridGap;
    }
  }
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;  
    background: $darkThemeBg;    
    z-index: -1;
  }
}
.nwsltrLink {
    @extend %fontXS;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}
.productEntryNwsltr {
  .nwsltrLink {
    @extend .btn;
    @extend .btnSmall;
    @extend .btnSecondary;
  }
}