.subPages {
  .uEberMich {
    .mainGrid {
      > * {
        @include smDown {
          grid-column: span 2;
        }
      }
    }
  }
  .subPagesGrid {
    h3, h4 {
      margin: 0;
    }
    h2 {
      padding-top: $gridGap;
      padding-bottom: $gridGap / 2;
      @extend %fontXL;
      font-weight: bold;
      @include smDown {
        grid-column: 1/-1;
      }
    }
  }
}
